<div class="container">
  <mat-card>
    <mat-card-header>

      <div class="titre">
        <h1>Welcome to Workstream, the first employee management application in the world</h1>
        <h2>Please log in to use the features of the application</h2>
      </div>

    </mat-card-header>

    <mat-card-content>
      <div><img src="./assets/picture/employe.png" alt=""></div>
      <a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="btn-login" mat-raised-button color="primary">Login</button></a>
      <a routerLink="/Employee" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="btn-login" mat-raised-button color="primary" >Employee</button></a>
    </mat-card-content>
  </mat-card>
</div>
