table {
  border-collapse: collapse; /* Supprime les bordures doubles */
  width: 100%; /* Remplit toute la largeur disponible */
}

th, td {
  text-align: left; /* Aligne le texte à gauche */
  padding: 0.5rem; /* Ajoute un peu de marge à l'intérieur des cellules */
  border: 1px solid #ccc; /* Ajoute une bordure grise autour de chaque cellule */
}

th {
  background-color: #eee; /* Fond gris clair pour les en-têtes de colonnes */
}

/* Styles pour les boutons "Ajouter" et "Modifier" */
.btn-add {
  display: block; /* Affiche le bouton sur une ligne à part entière */
  width: 100%; /* Remplit toute la largeur disponible */
  padding: 0.75rem 1rem; /* Ajoute un peu de marge à l'intérieur du bouton */
  background-color: #28a745; /* Couleur verte */
  color: #fff; /* Texte blanc */
  font-weight: bold; /* Texte en gras */
  border: none; /* Supprime la bordure */
  border-radius: 0.25rem; /* Ajoute un peu d'arrondi aux coins */
  cursor: pointer; /* Change le curseur de la souris lorsqu'on passe dessus */
}

.btn-add:hover {
  background-color: #218838; /* Couleur légèrement plus foncée lorsque la souris passe dessus */
}

.btn-modify {
  display: block; /* Affiche le bouton sur une ligne à part entière */
  width: 100%; /* Remplit toute la largeur disponible */
  padding: 0.75rem 1rem; /* Ajoute un peu de marge à l'intérieur du bouton */
  background-color: #fd7e14; /* Couleur orange */
  color: #fff; /* Texte blanc */
  font-weight: bold; /* Texte en gras */
  border: none; /* Supprime la bordure */
  border-radius: 0.25rem; /* Ajoute un peu d'arrondi aux coins */
  cursor: pointer; /* Change le curseur de la souris lorsqu'on passe dessus */
}

.btn-modify:hover {
  background-color: #e36209; /* Couleur légèrement plus foncée lorsque la souris passe dessus */
}
