<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Numéro</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Age</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of EmployeeArray">
    <td>{{ employee.id }}</td>
    <td>{{ employee.num }}</td>
    <td>{{ employee.firstname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.age }}</td>
    <td>
      <!-- Bouton de modification de l'employé -->
      <button class="btn-modify" [routerLink]="['/Employee-modif', employee.id]">Modifier</button>
    </td>
    <td>
      <!-- Bouton de Suppression de l'employé -->
      <button class="btn-modify" [routerLink]="['/Employee-delete/', employee.id]">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
<!-- Bouton d'ajout d'employé -->
<button class="btn-add" [routerLink]="['/Employee-ajout']">Ajouter un employe</button>
