<div class="nav">
  <div class="logo">
    <a routerLink="/">Workstream</a>
  </div>
  <div class="menu">
    <a class="menu-item" routerLink="/Employee" routerLinkActive="active" ariaCurrentWhenActive="page">Employee</a>
    <a  *ngIf="!token" class="menu-item" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    <a  *ngIf="token" class="menu-item" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
  </div>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>


