form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

button[type="submit"] {
  padding: 0.75rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

/* Nouveaux styles pour mettre en avant les boutons "Ajouter" et "Modifier" */
button.btn-add {
  background-color: #28a745; /* Couleur verte */
  font-weight: bold;
}

button.btn-add:hover {
  background-color: #218838;
}

button.btn-modify {
  background-color: #fd7e14; /* Couleur orange */
  font-weight: bold;
}

button.btn-modify:hover {
  background-color: #e36209;
}
